* {
    list-style:none;
    box-sizing : border-box;
    margin: 0;
    padding : 0;
    font-family: 'Lato', sans-serif;
}
body{
    margin:0;
    overflow:auto;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 12px;
    border-radius: 12px;
    z-index:1000;
}
::-webkit-scrollbar-thumb { 
    background: rgb(187, 187, 187);
    border-radius: 10px;
    z-index:1000;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 125, 125); 
    z-index:1000;
}
.site-container{
    width:100%;
}